@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  color: rgb(34, 34, 34);
  min-height: 100vh;

  overflow-y: auto;
  background-image: url("../assets/img/bg.jpg");
  background-size: cover;
  background-attachment: fixed;
}
